/**
 * Section fonctionnement home page
 */

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
  h1 {
    margin-top: 0;
    margin-bottom: 26px;
  }
  &__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $light-grey;
    border-radius: 20px;
    margin-bottom: 25px;
    position: relative;
    left: 12px;
    width: 97%;
    justify-content: flex-start;
    .fa-solid {
        margin-right: 25px;
        margin-left: 11px;
    }
    div {
      color: #fff;
      font-size: 0.7em;
      background: $brand-color;
      width: 24px;
      height: 24px;
      padding: 3px;
      border-radius: 50%;
      text-align: center;
      position: relative;
      right: 12px;
      p {
        margin: 0;
        font-size: 16px;
      }
    }
  }
}
