// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  display: flex;
  height: 63px;
  flex-direction: row;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  &__arrowLeft {
    margin-left: 20px;
    position: relative;
    top: 25%;
  }
  &__logo {
    /*position: relative;
    right: 37px;*/
    width: 60%;
    max-width: 200px;
    margin: auto;
  }
}

