.presentation {
    display: flex;
    flex-direction: column;


    h1 {
        font-family: Roboto;
        font-size: 1.3em;
        font-weight: 700;
        text-align: center;
        width: 70%;
        margin: auto;
        margin-top: 40px;
    }
    p {
        font-size: 0.9em;
        text-align: center;
        font-weight: 300;
    }
}