// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

/// À appliquer pour tous les pseudo-éléments ::before et ::after

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

/// Flexbox toolkit

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

/// animation pictos coeurs. Regular = coeur vide, Solid = coeur plein. Les deux mixins sont à appliquer respectivement sur le coeur regular et le coeur solid

@mixin HeartHoverEffectRegular {
  opacity: 1;
  z-index: 2;
  transition: all 200ms ease-in-out 100ms;
  &:hover {
    opacity: 0;
  }
  &:hover + .fa-solid {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin HeartHoverEffectSolid {
  z-index: 1;
  background: linear-gradient(0deg, $brand-color-pink 0%, $brand-color 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: all 300ms ease-in-out;
}

/// Largeur maximum du contenu pour desktop

@mixin max-content-width {
  max-width: 634px;
  margin-right: auto;
  margin-left: auto;
}
